{% extends 'base.html' %}
{% block head %}
    <title>Sign Up</title>
{% endblock %}
{% block body %}
    <form method="post">
    <h3 align="center">Sign Up</h3>
    <div class="mx-auto w-50 p-3">
        <div class="mx-5 form-group">
            <label for="username">Username:</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="Username">
            <label for="first_name">First name:</label>
            <input type="text"
                   class="form-control"
                   id="first_name"
                   name="first_name"
                   placeholder="First name">
            <label for="last_name">Last name:</label>

            <input type="text"
                   class="form-control"
                   id="last_name"
                   name="last_name"
                   placeholder="Last Name">

            <label for="email">Email:</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Enter your email">
            <label for="password1">Password:</label>
            <input type="password"
                   class="form-control"
                   id="password1"
                   name="password1"
                   placeholder="Enter your password">
            <label for="password2">Confirm Password:</label>
            <input type="password"
                   class="form-control"
                   id="password2"
                   name="password2"
                   placeholder="Confirm your password">
        </div>
           <br />
        <div class="d-flex justify-content-center">
           <button type="submit" class="btn btn-default btn-primary">Submit</button>
        </div>

    </div>
    </form>
{% endblock %}